body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}
table{
    border-collapse: collapse;
    width: 500px;
    position: relative;
}
table caption{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}
thead{
    background-color: #555555;
    color: white;
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: #555555;
}
tr:hover {
    border: 2px solid #000000;
}
td,th{
    border: 1px solid black;
    padding: 5px;
}
span{
    color: rgb(194, 194, 194);
    font-size: 13px;
}
tbody{
    background-color: #F8F9FA;
}
tbody > tr:nth-child(even){
    background-color: lightgrey;
}
tbody > tr > td:nth-child(n + 3){
    text-align: center;
} 
.total{
    text-align: center;
}
p{
    width: 500px;
    text-align: justify;
}