body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}
table{
    border-collapse: collapse;
    width: 500px;
}
table caption{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}
td,th{
    border: 1px solid black;
    padding: 5px;
}
span{
    color: rgb(63, 63, 63);
    font-size: 13px;
}
thead{
    background-color: #EAECF0;
}
tbody{
    background-color: #F8F9FA;
}
tbody > tr:nth-child(even){
    background-color: lightgrey;
}

.total{
    text-align: center;
}
