@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html body{
    background-color: lightgray;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: var(--cor4);
    color: white;
    text-align: center;
}
header h1{
    padding-top: 40px;
    font-size: 3em;
    font-variant: small-caps;
}
header p{
    padding-bottom: 40px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition-duration: 500ms;
}
a:hover{
    color: var(--cor1);
}
section{
    padding: 10vh 0 10vh 40px;
    line-height: 2em;

}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    /* background-image: url('../imagens/background001.jpg'); */
}
section.imagem p{
    width: 400px;
    background-color: var(--cor3);
}
footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 17px;
}